<h1>Interview Scheduler</h1>
<ul>
  <li><%= link_to "Interviewers", interviewers_path %>: People who conduct interviews</li>
  <li><%= link_to "Interviewer Pools", interviewer_pools_path %>: Interview session categories</li>
  <li><%= link_to "Panels", panels_path %>: Interview panels for prospective candidates</li>
</ul>
